<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BayMax</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body background="https://github.com/ItsAkilesh/Baymax/blob/master/src/main/resources/templates/untitled.png?raw=true">

<div  class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
    <h1 class="max-w-2xl mb-4 text-2xl font-extrabold tracking-tight content-center leading-none md:text-5xl xl:text-6xl dark:text-white">BayMax</h1>
</div>


<button type="submit" class="bg-purple-600 text-gray-300 hover:bg-fuchsia-400 hover:text-white px-3 py-2 items-center rounded-md text-sm font-medium">
    <a th:href="@{/doctors}">Home</a>
</button>


<div  class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
    <h1 class="max-w-2xl mb-4 text-xl font-bold tracking-tight content-center leading-none dark:text-white">Your appointments</h1>
</div>

<div th:if="${doctorAppointments == null}">
No appointments found
</div>

<div class="overflow-x-auto relative">
    <h3 align = "center">  <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div> </h3>
<br><br><br>
    <table class="w-full text-sm text-left text-white dark:text-white-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50/30 dark:bg-gray-700/30 dark:text-white">
        <tr>
            <th scope="col" class="py-3 px-6">AppointmentID</th>
            <th scope="col" class="py-3 px-6">Patient Name</th>
            <th scope="col" class="py-3 px-6">Appointment Date</th>
            <th scope="col" class="py-3 px-6">Prescription</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800/20 dark:border-gray-700/20" th:each="appointment : ${doctorAppointments}">
            <td class="py-4 px-6" th:text="${appointment.appointment_id}"></td>
            <td class="py-4 px-6" th:text="${appointment.patientName}"></td>
            <td class="py-4 px-6" th:text="${appointment.date}"></td>
            <td>
                <span th:if="${appointment.prescription == 'yes'}"><a th:href="@{/createpres}">Create Prescription</a></span>
                <span th:unless="${appointment.prescription == 'yes'}">-</span>
                <span th:if="${appointment.prescription == 'prescribed'}">prescribed</span>
            </td>
        </tbody>
    </table>

</div>
 </body>
</html>