<!DOCTYPE html>
<html
 xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
	<title>BayMax</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="icon" href="https://freepngimg.com/thumb/animation/59275-hamada-tadashi-company-walt-baymax-the-drawing.png" type="image/icon type">
</head>
<body>
<style th:inline="text">
    body{
        background: url{[[@{untitled.png}]]}
                    no-repeat center center fixed;
    }
</style>
<nav class="bg-gray-800">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-16 items-center justify-between">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button-->
				<button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<!--
                      Icon when menu is closed.

                      Heroicon name: outline/bars-3

                      Menu open: "hidden", Menu closed: "block"
                    -->
					<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
					<!--
                      Icon when menu is open.

                      Heroicon name: outline/x-mark

                      Menu open: "block", Menu closed: "hidden"
                    -->
					<svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex flex-shrink-0 items-center">
					<img class="block h-10 w-auto lg:hidden" src="https://freepngimg.com/thumb/animation/59275-hamada-tadashi-company-walt-baymax-the-drawing.png" alt="Your Company">
					<img class="hidden h-10 w-auto lg:block" src="https://freepngimg.com/thumb/animation/59275-hamada-tadashi-company-walt-baymax-the-drawing.png" alt="Your Company">
				</div>
				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>

						<a href="/patients" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Patient</a>

						<a href="/doctors" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Doctor</a>

						<a href="/receptionist" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Receptionist</a>


					</div>
				</div>
			</div>
			<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
				<button type="button" class="bg-lime-600 text-gray-300 hover:bg-lime-100 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
					<a href="/signup">Sign Up</a>
				</button>
<!--			<h3 align = "center">  <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div> </h3>-->
				<div class="sm:hidden" id="mobile-menu">
					<div class="space-y-1 px-2 pt-2 pb-3">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

						<a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>

						<a href="/patients" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Patients</a>

						<a href="/doctors" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Doctors</a>

						<a href="/receptionist" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Receptionist</a>
					</div>
                </div>
            </div>
		</div>
    </div>
</nav>
<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xxl px-40 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">One spot to oversee your clinics.</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-2xl dark:text-gray-400">From appointments to prescriptions, we got it.</p>
		</div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://www.seekpng.com/png/full/302-3020458_baymax-big-hero-6-baymax-png.png" alt="mockup">
        </div>
    </div>
</section>

<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900">
	<div class="sm:flex sm:items-center sm:justify-between">
		<a href="#" class="flex items-center mb-4 sm:mb-0">
			<img src="https://freepngimg.com/thumb/animation/59275-hamada-tadashi-company-walt-baymax-the-drawing.png" class="mr-3 h-8" alt="BayMax Logo">
			<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">BayMax</span>
		</a>

	</div>
	<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
	<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="#" class="hover:underline">BayMax™</a> All Rights Reserved.</span>
	<br>
	<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Made with ♥ in Java & TailwindCSS</span>

</footer>

</body>

</html>